
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.g.dart
*.freezed.dart


android/app/build/
android/.gradle/
android/local.properties
android/key.properties


ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec


web/build/


macos/Flutter/GeneratedPluginRegistrant.swift


windows/flutter/


linux/flutter/


*.log
*.pyc
*.swp
.DS_Store
.env
